div.map-container{
  display: flex;
}

div#map{
  background: #86a1ef;
  height: 100vh;
  width: 100%;
}

aside{
  width: 400px;
  -webkit-box-shadow: -3px 0px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 0px 5px -4px rgba(0,0,0,0.75);
  box-shadow: -3px 0px 5px -4px rgba(0,0,0,0.75);
  padding: 12px;
}